[data-corvu-drawer-trigger] {
  border-radius: 0.5rem;
  background-color: rgb(230 226 253);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgb(24 15 35);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 100ms;
  animation-duration: 100ms;
}

[data-corvu-drawer-trigger]:hover {
  background-color: rgb(212 203 251);
}

[data-corvu-drawer-trigger]:active {
  transform: translate(0px, 0.125rem);
}

[data-corvu-drawer-overlay] {
  position: fixed;
  inset: 0px;
  z-index: 40;
}

[data-corvu-drawer-overlay][data-transitioning] {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  transition-duration: 500ms;
}

[data-corvu-drawer-content] {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 50;
  display: flex;
  height: 100%;
  max-height: 500px;
  border-color: rgb(168 136 241);
  color: rgb(24 15 35);
  background-color: rgb(242 240 254);
  flex-direction: column;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-width: 4px;
  padding-top: 0.75rem;
}

[data-corvu-drawer-content][data-transitioning] {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  transition-duration: 500ms;
}

[data-corvu-drawer-content]::after {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100%;
  height: 50%;
  background-color: inherit;
}

@media (min-width: 1024px) {
  [data-corvu-drawer-content] {
    -webkit-user-select: none;
    user-select: none;
  }
}

[data-corvu-drawer-label] {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

[data-corvu-drawer-description] {
  margin-top: 1rem;
  text-align: center;
}

.notch {
  margin-top: 0.5rem;
  height: 0.25rem;
  width: 2.5rem;
  align-self: center;
  border-radius: 9999px;
  background-color: rgb(24 15 35);
}

.hidden_frog {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -1.25rem;
  z-index: 10;
  text-align: center;
}
