.header {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header> :not([hidden])~ :not([hidden]) {
  margin-left: 1rem;
}

.header_title {
  font-weight: 500;
}

[data-corvu-disclosure-trigger] {
  border-radius: 0.5rem;
  background-color: hsl(249, 87%, 94%);
  padding: 0.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}

[data-corvu-disclosure-trigger]:active {
  transform: translate(0, 0.125rem);
}

[data-corvu-disclosure-trigger]:hover {
  background-color: hsl(251, 86%, 89%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.repository_card {
  border-radius: 0.5rem;
  background-color: hsl(249, 87%, 94%);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

[data-corvu-disclosure-content] {
    margin-top: 0.25rem;
    overflow: hidden;
}

.space-y-1 > :not([hidden]) ~ :not([hidden]){
  margin-top: 0.25rem;
}

[data-corvu-disclosure-content][data-collapsed] {
  animation: collapse 200ms linear;
}

[data-corvu-disclosure-content][data-expanded] {
  animation: expand 200ms linear;
}

@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: var(--corvu-disclosure-content-height);
  }
}


@keyframes collapse {
  0% {
    height: var(--corvu-disclosure-content-height);
  }
  100% {
    height: 0px;
  }
}
