---
import NavLink from '@components/docs/nav/NavLink.astro'
---

<nav>
  <p class="mb-1 ml-4 text-sm font-medium opacity-60">Overview</p>
  <div>
    <NavLink name="Introduction" href="/docs" />
    <NavLink name="Installation" href="/docs/installation" />
  </div>
  <p class="mb-1 ml-4 mt-6 text-sm font-medium opacity-60">Usage</p>
  <div>
    <NavLink name="State" href="/docs/state" />
    <NavLink name="Styling" href="/docs/styling" />
    <NavLink name="Polymorphism" href="/docs/polymorphism" />
  </div>
  <p class="mb-1 ml-4 mt-6 text-sm font-medium opacity-60">Primitives</p>
  <div>
    <NavLink name="Dialog" href="/docs/primitives/dialog" />
    <NavLink name="Drawer" href="/docs/primitives/drawer" />
  </div>
  <p class="mb-1 ml-4 mt-6 text-sm font-medium opacity-60">Utilities</p>
  <div>
    <NavLink
      name="controllableSignal"
      href="/docs/utilities/controllable-signal"
    />
    <NavLink name="preventScroll" href="/docs/utilities/prevent-scroll" />
    <NavLink name="focusTrap" href="/docs/utilities/focus-trap" />
    <NavLink name="keyedContext" href="/docs/utilities/keyed-context" />
    <NavLink name="presence" href="/docs/utilities/presence" />
    <NavLink name="<Polymorphic>" href="/docs/utilities/polymorphic" />
  </div>
</nav>
