---
import NavLink from '@components/docs/nav/NavLink.astro'
---

<nav>
  <p class="mb-1 ml-4 text-sm font-medium opacity-60">Overview</p>
  <div>
    <NavLink name="Introduction" href="/docs/" />
    <NavLink name="Installation" href="/docs/installation/" />
  </div>
  <p class="mb-1 ml-4 mt-6 text-sm font-medium opacity-60">Usage</p>
  <div>
    <NavLink name="Overview" href="/docs/overview/" />
    <NavLink name="State" href="/docs/state/" />
    <NavLink name="Styling" href="/docs/styling/" />
    <NavLink name="Dynamic" href="/docs/dynamic-components/" />
  </div>
  <p class="mb-1 ml-4 mt-6 text-sm font-medium opacity-60">Primitives</p>
  <div>
    <NavLink name="Accordion" href="/docs/primitives/accordion/" />
    <NavLink name="Dialog" href="/docs/primitives/dialog/" />
    <NavLink name="Disclosure" href="/docs/primitives/disclosure/" />
    <NavLink name="Drawer" href="/docs/primitives/drawer/" />
    <NavLink name="OTP Field" href="/docs/primitives/otp-field/" />
    <NavLink name="Popover" href="/docs/primitives/popover/" />
    <NavLink name="Resizable" href="/docs/primitives/resizable/" />
    <NavLink name="Tooltip" href="/docs/primitives/tooltip/" />
  </div>
  <p class="mb-1 ml-4 mt-6 text-sm font-medium opacity-60">Utilities</p>
  <div>
    <NavLink name="focusTrap" href="/docs/utilities/focus-trap/" />
    <NavLink name="list" href="/docs/utilities/list/" />
    <NavLink name="presence" href="/docs/utilities/presence/" />
    <NavLink name="preventScroll" href="/docs/utilities/prevent-scroll/" />
    <NavLink name="transitionSize" href="/docs/utilities/transition-size/" />
  </div>
</nav>
