---
interface Props {
  name: string
  href: string
}

const { name, href } = Astro.props

const isActive = href === Astro.url.pathname
---

<a
  href={href}
  class:list={[
    'block rounded-lg px-4 py-2 transition-colors duration-75',
    {
      'hover:bg-corvu-300': !isActive,
      'bg-corvu-100 ring-2 ring-corvu-300': isActive,
    },
  ]}
>
  {name}
</a>
