---
const props = Astro.props
---

<h2 {...props} class="group relative">
  <a
    href={`#${props.id}`}
    class="absolute inset-y-0 -left-7 flex items-center opacity-0 transition-opacity group-hover:opacity-100"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 256 256"
      class="mr-1 size-6"
    >
      <rect width="256" height="256" fill="none"></rect>
      <path
        d="M127.88,196l-5.94,5.94a48,48,0,0,1-67.88-67.88L78.17,110A48,48,0,0,1,144,108"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="24"></path>
      <path
        d="M128.12,60l5.94-5.94a48,48,0,0,1,67.88,67.88l-24.11,24.11A48,48,0,0,1,112,148"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="24"></path>
    </svg>
  </a>
  <slot />
</h2>
