---
import RawCode from '@components/docs/code/RawCode.astro'
import type { SimpleApiReference } from '@lib/typedoc/types/apiReferences'

interface Props extends SimpleApiReference {}

const { name, type } = Astro.props
---

<div>
  <div class="not-prose inline-flex items-center space-x-2">
    <h3
      id={encodeURIComponent(name)}
      class="scroll-mt-20 text-xl font-bold md:scroll-mt-2"
    >
      {name}
    </h3><p
      class="rounded-md border-2 border-corvu-200 bg-corvu-100 px-1.5 py-0.5 text-sm font-bold"
    >
      Type
    </p>
  </div>
  <div class="not-prose mt-4">
    <RawCode code={type} lang="ts" />
  </div>
</div>
