.wrapper {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  max-width: 250px;
  overflow: hidden;
  border-radius: 0.5rem;
}

[data-corvu-accordion-trigger] {
  width: 100%;
  border-bottom-width: 1px;
  border-color: hsl(253, 80%, 82%);
  background-color: hsl(249, 87%, 94%);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  font-weight: 500;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 100ms;
}

[data-corvu-accordion-trigger]:hover {
  background-color: hsl(251, 86%, 89%);
}

[data-corvu-accordion-trigger]:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: hsl(251, 86%, 89%);
}

[data-corvu-accordion-content] {
  border-bottom-width: 1px;
  overflow: hidden;
  border-color: hsl(253, 80%, 82%);
  background-color: hsl(249, 87%, 94%);
}

[data-corvu-accordion-content][data-collapsed] {
  animation: collapse 200ms linear;
}

[data-corvu-accordion-content][data-expanded] {
  animation: expand 200ms linear;
}

@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: var(--corvu-disclosure-content-height);
  }
}

@keyframes collapse {
  0% {
    height: var(--corvu-disclosure-content-height);
  }

  100% {
    height: 0px;
  }
}

.content_wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
