---
import '@fontsource-variable/dosis'
import '@fontsource-variable/rubik'
import Background from '@components/Background'
import Navigation from '@components/docs/nav/Navigation.astro'
import TableOfContents from '@components/docs/TableOfContents'
import Head from '@components/Head.astro'
import Topbar from '@components/Topbar'
import { corvuVersion } from '@lib/getMeta'

interface Props {
  frontmatter: {
    title: string
    description: string
    image: string
  }
  headings: {
    depth: number
    text: string
    slug: string
  }[]
}

const { frontmatter, headings } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Head {...frontmatter} />
    <link rel="canonical" href={canonicalURL} />
    <script
      defer
      data-domain="corvu.dev"
      data-api="/plausible/api/event"
      src="/plausible/js/script.js"></script>
    <style>
      :root {
        color-scheme: dark;
      }
    </style>
  </head>
  <body class="flex h-full flex-col bg-corvu-1000 text-corvu-text antialiased">
    <Background type="docs" client:load />
    <div class="mx-auto h-16 w-full max-w-7xl">
      <Topbar client:load>
        <Navigation />
      </Topbar>
      <div class="mt-[88px] flex px-4 md:pl-0">
        <div
          class="fixed hidden h-[calc(100%-88px)] w-52 overflow-y-auto px-4 pb-2 md:block"
        >
          <Navigation />
        </div>
        <div class="-mt-1 mb-6 grow">
          <article
            class="prose max-w-[800px] @container prose-headings:scroll-mt-20 prose-h1:mb-2 prose-h1:font-dosis prose-h1:text-5xl prose-h1:font-black prose-h2:mt-5 prose-h2:text-2xl prose-h2:font-extrabold prose-h3:mt-4 prose-h3:text-xl prose-h3:font-bold prose-p:mb-2 prose-p:max-w-3xl prose-p:!leading-[31px] prose-a:font-medium prose-a:text-corvu-400 prose-a:underline hover:prose-a:text-corvu-300 prose-blockquote:rounded-md prose-blockquote:border-2 prose-blockquote:border-corvu-400 prose-blockquote:bg-corvu-1000 prose-blockquote:px-4 prose-blockquote:py-2 prose-ol:mb-3 prose-ol:ml-[21px] prose-ol:list-outside prose-ol:list-decimal prose-ul:mb-3 prose-ul:ml-[21px] prose-ul:list-outside prose-ul:list-disc prose-li:mb-1 md:ml-60"
          >
            <slot />
            <div
              class="not-prose mb-8 mt-16 flex justify-between space-x-4 border-t border-corvu-600/80 pt-4 text-sm"
            >
              <code
                ><a
                  href="https://www.npmjs.com/package/corvu"
                  target="_blank"
                  class="-m-2 p-2">corvu@{corvuVersion}</a
                ></code
              >
              <p class="text-right">
                Developed and designed by <a
                  href="https://github.com/GiyoMoon"
                  target="_blank"
                  class="-m-2 p-2 font-medium text-corvu-400 underline"
                  >Jasmin</a
                >
              </p>
            </div>
          </article>
        </div>
        <TableOfContents headings={headings} client:load />
      </div>
    </div>
  </body>
</html>
