---
import '@fontsource-variable/dosis'
import '@fontsource-variable/rubik'
import Head from '@components/Head.astro'

interface Props {
  title: string
  description: string
  image: string
}

const props = Astro.props
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Head {...props} />
  </head>
  <body class="h-full bg-corvu-light"><slot /></body>
</html>
