---
import '@fontsource-variable/rubik/wght.css'
import '@assets/global.css'
import Background from '@components/Background'
import LogoDark from '@assets/logo_dark.svg'
import LogoLight from '@assets/logo_light.svg'
import PlatformScript from '@components/PlatformScript.astro'
import rubikWoff2 from '@fontsource-variable/rubik/files/rubik-latin-wght-normal.woff2?url'
import ThemeScript from '@components/ThemeScript.astro'
import Topbar from '@components/Topbar.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>corvu</title>
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={rubikWoff2}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/MonaspaceNeon-Regular-v1.101.woff2"
      crossorigin="anonymous"
    />
    <ThemeScript />
    <PlatformScript />
  </head>
  <body class="flex flex-col bg-corvu-bg text-corvu-text antialiased">
    <Background type="home" client:media="(min-width: 768px)" />
    <Topbar />
    <main class="mx-auto w-full max-w-7xl px-4">
      <div class="flex grow flex-col items-center pt-40">
        <div class="flex flex-col items-center">
          <img
            src={LogoDark.src}
            alt="corvu logo dark"
            class="h-40 dark:hidden"
          />
          <img
            src={LogoLight.src}
            alt="corvu logo light"
            class="hidden h-40 dark:block"
          />
          <h1
            class="mt-5 flex items-center space-x-2 text-center text-2xl font-medium md:text-3xl"
          >
            <span class="text-4xl font-bold md:text-4xl">404</span>
            <span>- page not found</span>
          </h1>
          <a
            href="/"
            class="mt-6 rounded-lg bg-corvu-300 px-4 py-3 text-lg font-medium transition-all duration-100 hover:translate-y-0.5"
            >Go back</a
          >
        </div>
      </div>
    </main>
  </body></html
>
