---
import '@fontsource-variable/rubik'
import '@assets/global.css'
import Background from '@components/Background'
import Navigation from '@components/docs/nav/Navigation.astro'
import Topbar from '@components/Topbar'
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>corvu</title>
  </head>
  <body class="flex h-full flex-col bg-corvu-1000 text-corvu-text antialiased">
    <Topbar client:load>
      <Navigation />
    </Topbar>
    <main class="mx-auto h-16 w-full max-w-7xl px-4">
      <div class="flex grow flex-col items-center pt-40">
        <Background type="home" client:load />
        <div class="flex flex-col items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 600 600"
            class="h-32 md:h-40"
            ><mask
              id="a"
              width="601"
              height="601"
              x="-1"
              y="0"
              fill="#000"
              maskUnits="userSpaceOnUse"
              ><path fill="#fff" d="M-1 0h601v601H-1z"></path><path
                d="M523 129c-26.5-21.2-57-29.3-90-32.5-22-2-28.1-10-37.8-17.8-57.7-45.9-121.4-55.2-190.2-30-29 10.6-52.5 30.1-74.6 51.2-20.4 19.4-40.1 39.8-65.6 53-5 2.5-4.8 7 .3 10 6.1 3.4 13 4.6 20 5.4 5.7.7 12 0 17.7 4l-10.2 12.8c-18.7 23.4-34.7 48.7-52 73.1-2.5 3.7-7.9 7.6-4.5 12.5 3 4.5 9.1 3.5 14.1 2.7 6-1 11.8-2.6 17.7-3.9 2.4-.5 4.9-2.4 8 0l-.1 1c-2.5 14-5 28.3-6 42.8-1.1 17.2.7 34.1 4.3 50.9 1.3 6.1 5 6.9 9 2.1 6.2-7.4 12-15 15.7-24 3.6-8.8 8.8-16.8 13-25.7 6.4 44.5 9.3 82.5 38.7 118.4 4.5 5.5 5.5 4.7 7.5-1 .9-2.5 6.6-32.7 13-48 4.2 19.2 9.8 37.8 17.7 55.7 7.2 16.3 16.6 31 28.9 44 2.1 2.2 4.6 4.7 8 3.4 3.7-1.4 3.5-5 3.5-8l.1-26.1v-.1c0-3.7.1-7.4 3.2-10.8 5.6 8.3 10.9 16 16 23.8 20.3 30 42.5 58.7 56.3 92.6 2.3 5.8 5.3 5.8 9.6 1.2 11.5-12.3 16.7-27.8 21.8-43l.2-.5c5-15 6.2-30.6 4.8-46.3-.6-6.3-1-12.6-1.6-20.6 19.8 11 35.6 24.4 51.3 37.8 14.2 12 26.2 26.3 38.6 40.9 3.4 4 6.1 8.5 7.6.5.7-3.8 1.8-8.3 1.9-14.4.5-41.9-10.6-81-29-118.2-11-22.2-23.1-43.9-34.7-65.9a77.8 77.8 0 0 1-10.5-45c2.5-22.6 16.1-38 35.5-47.8 23.4-11.9 49-15.6 74.8-17.2 28-1.9 56-.6 82.9 8.6 4.4 1.5 6.9.7 7-4.5 1-39-11-72.3-42-97Z"
              ></path></mask
            ><path
              fill="#180F23"
              d="M523 129c-26.5-21.2-57-29.3-90-32.5-22-2-28.1-10-37.8-17.8-57.7-45.9-121.4-55.2-190.2-30-29 10.6-52.5 30.1-74.6 51.2-20.4 19.4-40.1 39.8-65.6 53-5 2.5-4.8 7 .3 10 6.1 3.4 13 4.6 20 5.4 5.7.7 12 0 17.7 4l-10.2 12.8c-18.7 23.4-34.7 48.7-52 73.1-2.5 3.7-7.9 7.6-4.5 12.5 3 4.5 9.1 3.5 14.1 2.7 6-1 11.8-2.6 17.7-3.9 2.4-.5 4.9-2.4 8 0l-.1 1c-2.5 14-5 28.3-6 42.8-1.1 17.2.7 34.1 4.3 50.9 1.3 6.1 5 6.9 9 2.1 6.2-7.4 12-15 15.7-24 3.6-8.8 8.8-16.8 13-25.7 6.4 44.5 9.3 82.5 38.7 118.4 4.5 5.5 5.5 4.7 7.5-1 .9-2.5 6.6-32.7 13-48 4.2 19.2 9.8 37.8 17.7 55.7 7.2 16.3 16.6 31 28.9 44 2.1 2.2 4.6 4.7 8 3.4 3.7-1.4 3.5-5 3.5-8l.1-26.1v-.1c0-3.7.1-7.4 3.2-10.8 5.6 8.3 10.9 16 16 23.8 20.3 30 42.5 58.7 56.3 92.6 2.3 5.8 5.3 5.8 9.6 1.2 11.5-12.3 16.7-27.8 21.8-43l.2-.5c5-15 6.2-30.6 4.8-46.3-.6-6.3-1-12.6-1.6-20.6 19.8 11 35.6 24.4 51.3 37.8 14.2 12 26.2 26.3 38.6 40.9 3.4 4 6.1 8.5 7.6.5.7-3.8 1.8-8.3 1.9-14.4.5-41.9-10.6-81-29-118.2-11-22.2-23.1-43.9-34.7-65.9a77.8 77.8 0 0 1-10.5-45c2.5-22.6 16.1-38 35.5-47.8 23.4-11.9 49-15.6 74.8-17.2 28-1.9 56-.6 82.9 8.6 4.4 1.5 6.9.7 7-4.5 1-39-11-72.3-42-97Z"
            ></path><path
              fill="#E6E2FD"
              d="m433 96.5 3.4-34.8-3.4 34.8Zm90 32.5-22 27.3 22-27.3Zm42 97 35 1-35-1Zm-7.1 4.6 11.3-33.1-11.3 33.1ZM475 222l-2.2-35 2.2 35Zm-74.8 17.2L384.3 208l15.9 31.2Zm-35.5 47.7 34.8 4-34.8-4Zm10.5 45.1-31 16.3 31-16.3Zm34.7 66 31.4-15.6-31.4 15.5Zm29 118-35-.4 35 .5Zm-1.9 14.5 34.4 6.5-34.4-6.5Zm-46.2-41.4 22.7-26.7-22.7 26.7Zm-51.3-37.8 17.1-30.6a35 35 0 0 0-52 33.2l35-2.6Zm1.6 20.6-34.9 3.2 34.9-3.2Zm-4.8 46.3L303 507l33.2 11.2Zm-.2.4 33.2 11.2-33.2-11.2Zm-21.8 43.1 25.5 24-25.5-24Zm-9.6-1.2-32.4 13.2 32.4-13.2Zm-56.2-92.6-29 19.6 29-19.6Zm-16.1-23.8 29-19.6a35 35 0 0 0-55-3.8l26 23.4Zm-3.2 10.8 35 .4-35-.4Zm0 .1-35-.4 35 .4Zm0 26 35 .5-35-.4Zm-3.5 8.1-12.4-32.7 12.4 32.7Zm-8.1-3.5 25.3-24.1-25.3 24.1Zm-28.9-43.9 32-14-32 14ZM171 386l34.1-7.5a35 35 0 0 0-66.5-5.8L171 386ZM150.5 435l-27 22.2 27-22.2Zm-38.6-118.4 34.6-4.9a35 35 0 0 0-66.1-10.3l31.5 15.2Zm-13 25.6L66.3 329l32.4 13.2ZM83 366.3l-26.8-22.6 26.8 22.6Zm-9-2.1 34.2-7.3-34.2 7.3Zm-4.3-51 35 2.4-35-2.3Zm6-42.7 34.5 6.1-34.5-6Zm.2-1 34.5 6a35 35 0 0 0-13.9-34.3L76 269.5Zm-8.1 0-7.3-34.2 7.3 34.2Zm-17.7 3.9-5.9-34.5 6 34.5Zm-14.1-2.7L64.9 251l-28.8 19.8Zm4.6-12.5L12 238.1l28.6 20.1Zm51.9-73.1 27.3 21.8-27.3-21.8Zm10.2-12.7 27.3 22a35 35 0 0 0-7-50.5l-20.3 28.5Zm-17.7-4 4-34.9-4 34.8Zm-20-5.6-17.3 30.5 17.3-30.5Zm-.3-10 16 31.1-16-31Zm65.6-53 24.1 25.5-24.1-25.4ZM205 48.8l-12-32.9 12 32.9Zm190.2 30 22-27.2-.2-.3-21.8 27.5ZM429.4 530l-26.7 22.7 26.7-22.7ZM158 434l33 11.5-33-11.5Zm271.6-302.6c29.6 2.8 52.4 9.6 71.5 25l43.8-54.7c-34-27.2-72-36.5-108.5-40l-6.8 69.7Zm71.5 25C521.9 173 530.8 195 530 225l70 1.9c1.2-47.6-14-92.4-55.1-125.3L501 156.3ZM530 225c0-.3.1-16 16-24.9 7.1-3.8 13.6-4 17.1-3.8 3.4.2 5.6 1 6 1l-22.5 66.3c2.8 1 17.8 6.4 33.3-2.2a39.8 39.8 0 0 0 20-34.5l-70-1.9Zm39.2-27.6a246 246 0 0 0-96.4-10.5l4.5 69.9c25.6-1.7 48.4-.3 69.3 6.8l22.6-66.2ZM472.8 187c-27 1.8-58.6 5.8-88.5 21l31.8 62.4c16.8-8.6 36.7-12 61.2-13.5l-4.5-69.9Zm-88.5 21c-27.1 13.8-50.2 38-54.4 75l69.6 7.8c.9-8 5-14.5 16.6-20.4L384.3 208ZM330 283c-2.8 25.8 5.3 48 14.3 65.3l62-32.6c-5.8-10.9-7.4-18.6-6.7-24.9l-69.6-7.8Zm14.3 65.3c12.2 23.2 23.6 43.3 34.4 65.1l62.7-31c-11.2-22.7-24.2-46-35.1-66.7l-62 32.6Zm34.4 65.1c16.5 33.4 25.7 67 25.3 102.2l70 1c.6-48.7-12.3-93.3-32.6-134.2l-62.7 31Zm25.3 102.2c0 2.4-.3 3.2-1.3 8.4l68.8 13c.4-2.4 2.3-10.5 2.5-20.5l-70-.9Zm9.6-53.2c-15.5-13.2-33.7-28.7-56.9-41.7l-34.2 61.1a286 286 0 0 1 45.7 34l45.4-53.4Zm-108.9-8.5 1.6 21.2 69.7-6.4-1.5-20-69.8 5.2Zm1.6 21.2c1.1 11.9.1 22.5-3 32l66.3 22.2a147 147 0 0 0 6.4-60.6l-69.7 6.4Zm-3 32-.2.3 66.3 22.4.2-.5L303 507Zm-.2.3c-5.6 16.6-8.8 24.6-14.3 30.4l51.1 47.8c17.6-18.7 24.8-41.7 29.5-55.8L303 507.4Zm-14.3 30.4c.1 0 1.6-1.8 4.6-3.5a31.6 31.6 0 0 1 39.2 6c3.1 3.4 4.4 6.5 4.6 7l-64.8 26.4c1.5 3.8 9.9 23.9 33 26.1 10.8 1 19.2-2.7 24-5.5 4.8-3 8.3-6.3 10.5-8.7l-51-47.8Zm48.4 9.5c-15.6-38.3-41.1-71.6-59.6-99l-58 39.2c21.9 32.5 40.7 56.7 52.8 86.2l64.8-26.4Zm-59.6-99-16.1-23.8-58 39.2c5.6 8.3 10.9 16 16 23.8l58.1-39.2Zm-71.2-27.6c-12.8 14.3-12 31-12 33.8l70 .7v-.9l-.4 2.6a23.2 23.2 0 0 1-5.4 10.5l-52.2-46.7Zm-12 33.8v.1l70 .8v-.1l-70-.8Zm0 .1c-.2 11 0 16-.2 26l70 1 .1-26.2-70-.8Zm-.2 26v.8a29.9 29.9 0 0 1 19.2-25l24.8 65.4a39.8 39.8 0 0 0 26-36.4 62.1 62.1 0 0 0 0-3.9l-70-1Zm19.2-24.2a30 30 0 0 1 25.1 1.9c4 2.2 6.2 5 4.5 3.2l-50.7 48.3c.5.4 5 5.6 11.6 9.3 8.6 4.9 21 7.8 34.3 2.7l-24.8-65.4Zm29.6 5a115.9 115.9 0 0 1-22.2-33.7l-64 28.1a185.8 185.8 0 0 0 35.5 54l50.7-48.3Zm-22.2-33.7a262.5 262.5 0 0 1-15.6-49.3l-68.3 15a332 332 0 0 0 19.9 62.4l64-28.1Zm-43.1-14.9c-22-26.8-24.3-53.5-31-101.1l-69.4 9.8c5.9 41.5 9.3 90.6 46.2 135.7l54.2-44.4ZM80.4 301.4c-1.7 3.5-3.5 6.6-6 11.4-2.4 4.3-5.4 9.9-8 16.2l64.8 26.5c1-2.5 2.4-5.3 4.7-9.3 2-3.7 4.9-9 7.5-14.4l-63-30.4Zm-14 27.6c-1.5 3.7-4.3 7.9-10 14.7l53.4 45.2c6.7-8 15.5-19 21.4-33.4L66.4 329Zm-10 14.7c.7-.9 3-3.4 7-5.6a31.5 31.5 0 0 1 40.9 9.9c2.9 4.1 3.7 7.7 4 8.9l-68.5 14.6c1.2 5.5 7 26.7 30 32 22.2 5 36.5-10.5 40-14.6l-53.5-45.2Zm51.9 13.2c-3.1-14.5-4.5-28-3.6-41.3L35 311c-1.4 21.2.9 41.5 5 60.6l68.4-14.6Zm-3.6-41.3c.9-12.3 3-24.7 5.6-39l-69-12.2C39 278.1 36 294.2 35 311l69.8 4.7Zm5.6-39 .2-1-69-12.2-.2 1 69 12.2Zm-13.7-35.4a40.8 40.8 0 0 0-31.5-7.2c-3.5.7-6.4 1.8-6.9 2-1.3.4.4-.3 2.4-.7l14.6 68.5c1.8-.4 3.3-.9 4.2-1.2l1.8-.6a29.7 29.7 0 0 1-25.9-4.3l41.3-56.5Zm-36-5.9c-8.3 1.8-11 2.7-16.3 3.6l11.9 69c6.6-1.2 15.5-3.4 19-4.1l-14.6-68.5ZM44.3 239l-1.4.2h-.4 2.7A27.9 27.9 0 0 1 65 250.9L7.2 290.6A43 43 0 0 0 39.6 309c7.7.7 15-.8 16.6-1l-11.9-69Zm20.6 12a29.6 29.6 0 0 1 1.2 31.3c-1 1.6-1.8 2.4-1 1.5.1-.2 2.4-2.7 4.2-5.3L12 238.1c.5-.7 1-1.4-.4.3-.8 1-3.3 3.9-5.5 7.5a40.4 40.4 0 0 0 1 44.6L65 251Zm4.4 27.5c18.6-26.4 32.8-49 50.6-71.5l-54.7-43.6c-19.5 24.4-37.3 52.3-53.1 74.8l57.2 40.3Zm50.6-71.5 10.2-12.6-54.5-43.9-10.4 12.9 54.7 43.6Zm3.2-63c-9-6.4-17.8-8.6-24.3-9.5-3-.4-5.7-.6-7.2-.7l-2.5-.2-8 69.6 3.7.3 2.6.2h1.4l.3.1a17.4 17.4 0 0 1-6.6-2.8l40.6-57Zm-34-10.4c-3-.3-4.6-.6-5.8-.9-1-.2-1.3-.4-1-.2l-34.5 60.9c12.7 7.1 25.5 8.9 33.3 9.8l8-69.6Zm-6.8-1.1c3.2 1.8 13.3 9 13.9 24 .5 16.5-10.7 25-15.4 27.5l-32-62.2A40.4 40.4 0 0 0 26.2 159a41.4 41.4 0 0 0 21.6 34.3l34.5-61Zm-1.5 51.5c31.1-16 55-41 73.7-58.6l-48.2-50.8c-22.2 21.1-37.6 37-57.5 47.2l32 62.2Zm73.7-58.6C176 104.8 195 89.6 217 81.6l-24-65.8c-36.2 13.3-63.9 37-86.7 58.7l48.2 50.8ZM217 81.6C274.7 60.4 325.5 68 373.5 106L417 51.2C349.4-2.4 272.9-13.4 193 15.8l24 65.8Zm156.2 24.2c1.4 1.2 10 9.1 18.5 14.1a89.6 89.6 0 0 0 38 11.5l6.7-69.7c-6.9-.7-8.8-2-9.2-2.1l-2.8-2.1-3-2.5a209 209 0 0 0-4.1-3.5l-44.1 54.3Zm29.4 418.3a30.4 30.4 0 0 1 5.8-11.7 33.6 33.6 0 0 1 48-4.3l1.7 1.7-.4-.5-1.7-2-53.3 45.4.9 1 2 2.3c.5.6 5.3 6.5 13 10.3a36.4 36.4 0 0 0 44.3-10c6.4-8 8-16.9 8.5-19.3l-68.8-13Zm53.4-16.8c-11.9-14-25.8-30.6-42.5-45L368 515.8c11.7 10 21.7 21.8 34.6 37l53.3-45.4ZM138.6 372.6a249.8 249.8 0 0 0-10.2 34 547.6 547.6 0 0 1-4 17.3c-.4 2-.1.5.5-1.4l66.2 23c.8-2.5 1.5-5.5 1.5-5.8l1-4.5 2.9-12.3c2.3-9.8 4.8-18.8 6.8-23.7l-64.7-26.6Zm-13.7 49.9c-.5 1.5 0 0 1.2-2.3.5-1 6.8-12.6 22-15.8 15.7-3.2 26 5.4 27.2 6.4 2.2 1.7 3.2 3.1 2.3 2l-54.2 44.4c1.4 1.6 4.2 5 7.9 8a37.2 37.2 0 0 0 31 7.8 37.2 37.2 0 0 0 24.8-18.5c2.2-3.8 3.5-7.6 4-9l-66.2-23Z"
              mask="url(#a)"></path><circle
              cx="310"
              cy="152"
              r="30"
              fill="#D8D0F7"></circle><path
              fill="#D8D0F7"
              d="M419.2 124.8c76.5 0 108 35.4 115.3 52.3-52.1-9.9-118.4.4-144.5 6 0-1.5 24.2-58.3 29.2-58.3Z"
            ></path><path
              fill="#7250AE"
              d="M390.3 182c45.6-12.3 137.7-13.6 144.2-5 4.6 6.2 8 19.2 10 27 1.4 5.6-1 5-5 4-72.4-15-139.4 11.8-164 25 0-6.4 8.2-40 14.8-51Z"
            ></path></svg
          >
          <h1
            class="mt-5 flex items-center space-x-2 text-center text-2xl font-medium md:text-3xl"
          >
            <span class="text-4xl font-bold md:text-4xl">404</span>
            <span>- page not found</span>
          </h1>
          <a
            href="/"
            class="mt-6 rounded-lg bg-corvu-400 px-4 py-3 text-lg font-medium text-corvu-dark transition-all duration-100 hover:bg-corvu-500 active:translate-y-0.5"
            >Go back</a
          >
        </div>
      </div>
    </main></body
  >
</html>
