---
import CorvuIcon from '@assets/icon.svg'
import Header from '@components/Header.astro'
import GlobalLayout from '@layouts/Global.astro'
---

<GlobalLayout
  title="corvu"
  description="Unstyled, accessible and customizable primitives for SolidJS"
  image="/banner.png"
>
  <Header />
  <main class="flex h-full items-center justify-center px-4">
    <img src={CorvuIcon.src} width={200} />
  </main>
</GlobalLayout>
