---
import '@fontsource-variable/dosis'
import '@fontsource-variable/rubik'
import '@assets/global.css'
import Background from '@components/Background'
import Head from '@components/Head.astro'
import LogoDark from '@assets/logo_dark.svg'
import LogoLight from '@assets/logo_light.svg'
import ThemeScript from '@components/ThemeScript.astro'
import Topbar from '@components/Topbar'
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Head
      title="Unstyled UI primitives for SolidJS"
      description="A collection of unstyled, accessible and customizable UI primitives for SolidJS"
      image="https://corvu.dev/banner.jpg"
    />
    <link rel="canonical" href={Astro.url} />
    <ThemeScript />
    <script
      defer
      data-domain="corvu.dev"
      data-api="/plausible/api/event/"
      src="/plausible/js/script.js"></script>
  </head>
  <body class="flex h-full flex-col bg-corvu-bg text-corvu-text antialiased">
    <Background type="home" client:load />
    <Topbar floating client:load />
    <main class="mx-auto h-16 w-full max-w-7xl px-4">
      <div class="flex grow flex-col items-center pt-40">
        <div class="flex flex-col items-center">
          <img
            src={LogoDark.src}
            alt="Corvu logo"
            class="h-40 dark:hidden md:h-52"
          />
          <img
            src={LogoLight.src}
            alt="Corvu logo"
            class="hidden h-40 dark:block md:h-52"
          />
          <h1 class="mt-5 text-center text-2xl font-medium md:text-3xl">
            <span class="text-3xl font-bold md:text-4xl">corvu</span>
            - powerful UI primitives for SolidJS
          </h1>
          <p class="mt-6 max-w-2xl text-center text-lg font-normal">
            A collection of open source UI primitives that are unstyled,
            accessible and aim to be highly customizable while providing a
            delightful developer experience
          </p>
          <a
            href="/docs/"
            class="mt-6 rounded-lg bg-corvu-300 px-4 py-3 text-lg font-medium transition-all duration-100 active:translate-y-0.5"
            >Get started</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
