---
interface Props {
  features: string[]
}

const { features } = Astro.props
---

<ul class="not-prose space-y-1.5 font-medium">
  {
    features.map((feature) => (
      <li class="flex h-[26px] space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 36 36"
          class="h-6 w-6 shrink-0"
        >
          <>
            <g clip-path="url(#a)">
              <>
                <path
                  fill="#8F50DC"
                  d="M35 19c0-2.06-.37-4.04-1.04-5.87-.46 5.4-3.33 8.16-6.34 6.87-2.8-1.2-.91-5.92-.77-8.16.23-3.81-.01-8.17-6.93-11.8 2.87 5.5.33 8.92-2.34 9.13-2.95.23-5.66-2.55-4.66-7.05-3.24 2.4-3.33 6.4-2.34 9 1.05 2.71-.04 4.96-2.58 5.21-2.84.28-4.42-3.04-2.96-8.33A17 17 0 1 0 35 19Z"
                />
                <path
                  fill="#D4C0FF"
                  d="M28.4 24c.14 3.08-2.57 4.3-4.02 3.7-2.11-.84-1.55-2.28-2.09-5.28-.54-3-2.62-5.09-5.7-6 2.24 6.33-1.25 8.66-3.09 9.08-1.87.43-3.75 0-3.96-4a11.96 11.96 0 0 0-3.48 9.59A16.94 16.94 0 0 0 18 36c4.66 0 8.88-1.88 11.95-4.91a11.94 11.94 0 0 0-1.55-7.1Z"
                />
              </>
            </g>
            <defs>
              <clipPath id="a">
                <path fill="#fff" d="M0 0h36v36H0z" />
              </clipPath>
            </defs>
          </>
        </svg>
        <span class="mt-0.5">{feature}</span>
      </li>
    ))
  }
</ul>
