---
import ApiReference from '@components/docs/ApiReference.astro'
import {
  getComponent,
  getUtility,
  type ApiReference as ApiReferenceType,
} from '@lib/getTypes'
import type {
  ComponentSpecifications,
  UtilitySpecifications,
} from '@lib/apiSpecifications'

interface Props {
  primitive?: ComponentSpecifications
  utility?: UtilitySpecifications
}

const { primitive, utility } = Astro.props

let apiReferences: ApiReferenceType[]

if (primitive) {
  apiReferences = getComponent(primitive)
} else {
  apiReferences = getUtility(utility!)
}
---

<div class="space-y-14">
  {apiReferences.map((apiReference) => <ApiReference {...apiReference} />)}
</div>
