---
import AccordionPicture from '@assets/previews/accordion.jpg'
import DialogPicture from '@assets/previews/dialog.jpg'
import DisclosurePicture from '@assets/previews/disclosure.jpg'
import DrawerPicture from '@assets/previews/drawer.jpg'
import PopoverPicture from '@assets/previews/popover.jpg'
import TooltipPicture from '@assets/previews/tooltip.jpg'
import { Image } from 'astro:assets'

const primitives = [
  {
    image: AccordionPicture,
    name: 'Accordion',
    href: '/docs/primitives/accordion/',
  },
  {
    image: DialogPicture,
    name: 'Dialog',
    href: '/docs/primitives/dialog/',
  },
  {
    image: DisclosurePicture,
    name: 'Disclosure',
    href: '/docs/primitives/disclosure/',
  },
  {
    image: DrawerPicture,
    name: 'Drawer',
    href: '/docs/primitives/drawer/',
  },
  {
    image: PopoverPicture,
    name: 'Popover',
    href: '/docs/primitives/popover/',
  },
  {
    image: TooltipPicture,
    name: 'Tooltip',
    href: '/docs/primitives/tooltip/',
  },
]
---

<div class="not-prose mt-5 @container">
  <div class="grid gap-4 @md:grid-cols-2 @3xl:grid-cols-3">
    {
      primitives.map((primitive) => (
        <a
          href={primitive.href}
          class="overflow-hidden rounded-xl border-[5px] border-corvu-400 bg-corvu-400"
        >
          <Image src={primitive.image} alt={primitive.name} width={500} />
          <span class="block px-2 py-1 text-lg font-bold text-corvu-dark">
            {primitive.name}
          </span>
        </a>
      ))
    }
  </div>
</div>
